h1 {
  margin-top: 20px; /* Adjust this value to increase or decrease the space above the title */
  margin-bottom: 50px; /* Adjust this value to increase or decrease the space above the title */
}

.page-header {
    border-bottom: none; /* Removes the bottom border */
}
